[submodule "shared-hosting-aid/update-control"]
	path = shared-hosting-aid/update-control
	url = https://github.com/chipbennett/update-control
[submodule "shared-hosting-aid/wordpress-php-info"]
	path = shared-hosting-aid/wordpress-php-info
	url = https://github.com/wp-plugins/wordpress-php-info
[submodule "shared-hosting-aid/ftptail"]
	path = shared-hosting-aid/ftptail
	url = https://github.com/johntdyer/ftptail.git
[submodule "wp-cli-commands/wp-cli-check-update"]
	path = wp-cli-commands/wp-cli-check-update
	url = https://github.com/szepeviktor/wp-cli-check-update.git
[submodule "whats-running"]
	path = whats-running
	url = git@github.com:szepeviktor/whats-running.git
[submodule "shared-hosting-aid/search-replace-db"]
	path = shared-hosting-aid/search-replace-db
	url = https://github.com/interconnectit/Search-Replace-DB.git
[submodule "wp-cli-commands/wp-cli-database-prefix-command"]
	path = wp-cli-commands/wp-cli-database-prefix-command
	url = git@github.com:szepeviktor/wp-cli-database-prefix-command.git
[submodule "wp-cli-commands/wp-cli-option-list-command"]
	path = wp-cli-commands/wp-cli-option-list-command
	url = git@github.com:szepeviktor/wp-cli-option-list-command.git
[submodule "mu-disable-comments"]
	path = mu-disable-comments
	url = https://github.com/solarissmoke/disable-comments-mu.git
[submodule "shared-hosting-aid/yoast-debug"]
	path = shared-hosting-aid/yoast-debug
	url = https://github.com/Yoast/yoast-debug
[submodule "shared-hosting-aid/gauntlet-security"]
	path = shared-hosting-aid/gauntlet-security
	url = https://github.com/wp-plugins/gauntlet-security.git
[submodule "wordpress-fail2ban/non-wp-projects/joomla-plugin-system-fail2ban"]
	path = wordpress-fail2ban/non-wp-projects/joomla-plugin-system-fail2ban
	url = https://szepeviktor@bitbucket.org/mediahof/joomla-plugin-system-fail2ban.git
[submodule "shared-hosting-aid/tripwire"]
	path = shared-hosting-aid/tripwire
	url = git@github.com:szepeviktor/Tripwire.git
[submodule "prevent-concurrent-logins"]
	path = prevent-concurrent-logins
	url = https://github.com/fjarrett/prevent-concurrent-logins.git
[submodule "multipart-robotstxt-editor"]
	path = multipart-robotstxt-editor
	url = git@github.com:szepeviktor/multipart-robotstxt-editor.git
[submodule "frontend-debugger"]
	path = frontend-debugger
	url = git@github.com:szepeviktor/frontend-debugger.git
