[submodule "shared-hosting-aid/update-control"]
	path = shared-hosting-aid/update-control
	url = https://github.com/chipbennett/update-control
[submodule "shared-hosting-aid/ftptail"]
	path = shared-hosting-aid/ftptail
	url = https://github.com/johntdyer/ftptail.git
[submodule "wp-cli-commands/wp-cli-check-update"]
	path = wp-cli-commands/wp-cli-check-update
	url = https://github.com/szepeviktor/wp-cli-check-update.git
[submodule "whats-running"]
	path = whats-running
	url = git@github.com:szepeviktor/whats-running.git
[submodule "shared-hosting-aid/search-replace-db"]
	path = shared-hosting-aid/search-replace-db
	url = https://github.com/interconnectit/Search-Replace-DB.git
[submodule "wp-cli-commands/wp-cli-database-prefix-command"]
	path = wp-cli-commands/wp-cli-database-prefix-command
	url = git@github.com:szepeviktor/wp-cli-database-prefix-command.git
[submodule "wp-cli-commands/wp-cli-option-list-command"]
	path = wp-cli-commands/wp-cli-option-list-command
	url = git@github.com:szepeviktor/wp-cli-option-list-command.git
[submodule "mu-disable-comments"]
	path = mu-disable-comments
	url = https://github.com/solarissmoke/disable-comments-mu.git
[submodule "shared-hosting-aid/yoast-debug"]
	path = shared-hosting-aid/yoast-debug
	url = https://github.com/Yoast/yoast-debug
[submodule "shared-hosting-aid/gauntlet-security"]
	path = shared-hosting-aid/gauntlet-security
	url = https://github.com/wp-plugins/gauntlet-security.git
[submodule "shared-hosting-aid/tripwire"]
	path = shared-hosting-aid/tripwire
	url = git@github.com:szepeviktor/Tripwire.git
[submodule "prevent-concurrent-logins"]
	path = prevent-concurrent-logins
	url = https://github.com/fjarrett/prevent-concurrent-logins.git
[submodule "multipart-robotstxt-editor"]
	path = multipart-robotstxt-editor
	url = git@github.com:szepeviktor/multipart-robotstxt-editor.git
[submodule "frontend-debugger"]
	path = frontend-debugger
	url = git@github.com:szepeviktor/frontend-debugger.git
[submodule "option-inspector"]
	path = option-inspector
	url = git@github.com:szepeviktor/option-inspector.git
[submodule "plugin-installer-speedup"]
	path = plugin-installer-speedup
	url = git@github.com:szepeviktor/plugin-installer-speedup.git
[submodule "what-the-file"]
	path = what-the-file
	url = https://github.com/barrykooij/what-the-file.git
[submodule "github-link"]
	path = github-link
	url = git@github.com:szepeviktor/github-link.git
[submodule "wp-solarized"]
	path = wp-solarized
	url = git@github.com:szepeviktor/wp-solarized.git
[submodule "shared-hosting-aid/unified-post-types"]
	path = shared-hosting-aid/unified-post-types
	url = https://github.com/fusioneng/Unified-Post-Types.git
[submodule "shared-hosting-aid/stream-archive/archivestream-php"]
	path = shared-hosting-aid/stream-archive/archivestream-php
	url = https://github.com/barracudanetworks/ArchiveStream-php.git
[submodule "emojis"]
	path = emojis
	url = https://github.com/wp-plugins/classic-smilies.git
[submodule "svn-updater"]
	path = svn-updater
	url = git@github.com:szepeviktor/svn-updater.git
[submodule "wordpress-fail2ban"]
	path = wordpress-fail2ban
	url = git@github.com:szepeviktor/wordpress-fail2ban.git
[submodule "resource-versioning"]
	path = resource-versioning
	url = git@github.com:szepeviktor/resource-versioning.git
[submodule "smtp-uri"]
	path = smtp-uri
	url = git@github.com:szepeviktor/smtp-uri.git
[submodule "machine-language"]
	path = machine-language
	url = git@github.com:szepeviktor/machine-language.git
[submodule "wp-mailfrom-ii"]
	path = wp-mailfrom-ii
	url = https://github.com/benhuson/wp-mailfrom.git
[submodule "auto-login"]
	path = auto-login
	url = git@github.com:szepeviktor/auto-login.git
[submodule "image-factory"]
	path = image-factory
	url = git@github.com:szepeviktor/image-factory.git
[submodule "manual-cron"]
	path = manual-cron
	url = git@github.com:szepeviktor/manual-cron.git
[submodule "shared-hosting-aid/wp-serverinfo"]
	path = shared-hosting-aid/wp-serverinfo
	url = https://github.com/lesterchan/wp-serverinfo.git
[submodule "custom-sucuri"]
	path = custom-sucuri
	url = git@github.com:szepeviktor/custom-sucuri.git
[submodule "password-bcrypt"]
	path = password-bcrypt
	url = git@github.com:szepeviktor/password-bcrypt.git
[submodule "shared-hosting-aid/tripwire-original"]
	path = shared-hosting-aid/tripwire-original
	url = https://github.com/lucanos/Tripwire.git
[submodule "w3tc-fix"]
	path = w3tc-fix
	url = git@github.com:szepeviktor/fix-w3tc.git
[submodule "minit/Minit-Pro"]
	path = minit/Minit-Pro
	url = https://github.com/markoheijnen/Minit-Pro.git
[submodule "minit/minit"]
	path = minit/minit
	url = https://github.com/kasparsd/minit.git
[submodule "blokk"]
	path = blokk
	url = git@github.com:blokk-people/blokk.git
[submodule "blokk-registry"]
	path = blokk-registry
	url = git@github.com:blokk-people/Shortcake-UI-registry.git
[submodule "tiny-cdn"]
	path = tiny-cdn
	url = git@github.com:szepeviktor/tiny-cdn.git
