/*
Source: https://github.com/KOLANICH/dBug/blob/master/dBug.php
*/
table.dBug_array,table.dBug_object,table.dBug_resource,table.dBug_resourceC,table.dBug_xml{
	font-family:Verdana, Arial, Helvetica, sans-serif; color:#000000; font-size:12px;
}

.dBug_arrayHeader,
.dBug_objectHeader,
.dBug_resourceHeader,
.dBug_resourceCHeader,
.dBug_xmlHeader,
.dBug_falseHeader,
.dBug_numericHeader,
.dBug_databaseHeader
	{ font-weight:bold; color:#FFFFFF; cursor:pointer; }

.dBug_arrayKey,
.dBug_objectKey,
.dBug_xmlKey,
.dBug_stringHeader,
.dBug_booleanHeader,
.dBug_ExceptionHeader
	{ cursor:pointer; }

.dBug_numeric td{
	color:black;
}

table.dBug_string,td.dBug_numericHeader{
	color:white;
}

/*Exception*/
table.dBug_Exception {
	background-color:#AB1212;
	border-width: 5px;
	border-color: #FF006E;
	border-style: dashed;
	font-weight: bolder;
	color: #FFF8F8;
}
table.dBug_Exception td { background-color:#E13636;}
table.dBug_Exception td.dBug_ExceptionHeader { background-color:#FF0000; }
table.dBug_Exception td.dBug_ExceptionKey { background-color:#E65050; }

/* array */
table.dBug_array { background-color:#006600; }
table.dBug_array td { background-color:#FFFFFF; }
table.dBug_array td.dBug_arrayHeader { background-color:#009900; }
table.dBug_array,.dBug_object td.dBug_arrayKey { background-color:#CCFFCC; }

/* object */
table.dBug_object { background-color:#0000CC; }
table.dBug_object td { background-color:#FFFFFF; }
table.dBug_object td.dBug_objectHeader { background-color:#4444CC; }
table.dBug_object td.dBug_objectKey { background-color:#CCDDFF; }

/* resource */
table.dBug_resourceC { background-color:#884488; }
table.dBug_resourceC td { background-color:#FFFFFF; }
table.dBug_resourceC td.dBug_resourceCHeader { background-color:#AA66AA; }
table.dBug_resourceC td.dBug_resourceCKey { background-color:#FFDDFF; }

/* resource */
table.dBug_resource { background-color:#884488; }
table.dBug_resource td { background-color:#FFFFFF; }
table.dBug_resource td.dBug_resourceHeader { background-color:#AA66AA; }
table.dBug_resource td.dBug_resourceKey { background-color:#FFDDFF; }

/* xml */
table.dBug_xml { background-color:#888888; }
table.dBug_xml td { background-color:#FFFFFF; }
table.dBug_xml td.dBug_xmlHeader { background-color:#AAAAAA; }
table.dBug_xml td.dBug_xmlKey { background-color:#DDDDDD; }


/* database */
table.dBug_database { background-color:#8FB6E6 }
table.dBug_database td { background-color:#07DDF9; }
table.dBug_database td.dBug_databaseHeader { background-color:#07F7FB; }
table.dBug_database td.dBug_databaseKey { background-color:#AEF4F5; }


/* FALSE and boolean false*/
table.dBug_false { background-color:#CB0101; }
table.dBug_false td { background-color:#FFFFFF; }
table.dBug_boolean td.dBug_booleanFalse,table.dBug_false td.dBug_falseHeader { background-color:#F2054C; }
table.dBug_false td.dBug_falseKey { background-color:#DDDDDD; }


/* numeric */
table.dBug_numeric { background-color:#F9C007; }
table.dBug_numeric td { background-color:#FFFFFF; }
table.dBug_numeric td.dBug_numericHeader { background-color:#F2D904; }
//table.dBug_numeric td.dBug_numericKey { background-color:#DDDDDD; }


/* string */
table.dBug_string { background-color:#556832 }
table.dBug_string td { background-color:#B3C520;}
table.dBug_string td.dBug_stringHeader { background-color:#808000; }
table.dBug_string,.dBug_object td.dBug_stringKey { background-color:#96A428; }

/*boolean*/
table.dBug_boolean { background-color:#43769F }
table.dBug_boolean td.dBug_booleanHeader { background-color:#5EA5DE; }
table.dBug_boolean td.dBug_booleanTrue { background-color:#04F258; }
table.dBug_boolean td.dBug_booleanTrue,table.dBug_boolean td.dBug_booleanFalse { width:46px; text-align: center;border-radius: 45%;}
